html{
	body{
		background-color: $white;
		overflow-x: hidden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: $font-size;
		color: $grey;
		line-height: 1.5em;
		*{
			outline: none !important;
		}
		hr{
			opacity: .1 !important;
		}
		main#main{
			min-height: 35vh;
			// page header
			section.header{
				position: relative;
				padding: 0;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				.overlay{
					content: '';
					position: absolute;
					z-index: 0;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $darkblue;
					border-bottom: 1px solid hsla(0,0%,50%,.1);
					opacity: .7;
				}
				.container{
					position: relative;
					z-index: 1;
					.text-container{
						margin: 0 auto;
						padding: 60px 0;
						border-bottom: 1px solid hsla(0,0%,0%,.1);
						h1{
							margin: 0 !important;
							color: $orange;
						}
					}
				}
			}
			// page body
			section.page{
				margin-top: -1px;
				.container{
					.text-container{
						margin: 0 auto clamp(25px, 5vh, 50px);
					}
				}
			}
			// cell styles
			// deprecated
			.cell-row{
				margin: 40px 0;
				.col{
					.cell{
						background-color: $light;
						border-radius: 20px;
						padding: 20px;
					}
					@media(max-width:$md){
						&:not(:last-child){
							.cell{
								margin-bottom: 40px;
							}
						}
					}
				}
			}
			// container
			.container {
				max-width: $container;
				padding-left: 20px;
				padding-right: 20px;
				.text-container{
					max-width: $text-container;
					margin: auto;
					padding-left: 0;
					padding-right: 0;
				}
				.cell-row{
					margin-left: calc(var(--bs-gutter-x) * -0.5) !important;
					margin-right: calc(var(--bs-gutter-x) * -0.5) !important;
				}
			}
		}
	}
}