html{
	body{
		background-color: $white;
		overflow-x: hidden;
		main#main{
			min-height: 35vh;
			// page header
			section.header{
				.container{
					.text-container{
						margin: 0 auto clamp(25px, 5vh, 50px);
						padding: clamp(25px, 5vh, 50px) 0;
						border-bottom: 1px solid hsla(0,0%,0%,.1);
						h1{
							margin: 0 !important;
							color: $orange;
						}
					}
				}
			}
			// page body
			section.page{
				.container{
					.text-container{
						margin: 0 auto clamp(25px, 5vh, 50px);
					}
				}
			}
			// cell styles
			.cell-row{
				margin: 40px 0;
				.col{
					.cell{
						background-color: $light;
						border-radius: 20px;
						padding: 20px;
					}
					@media(max-width:$md){
						&:not(:last-child){
							.cell{
								margin-bottom: 40px;
							}
						}
					}
				}
			}
			// container
			.container {
				max-width: 1600px;
				padding-left: 20px;
				padding-right: 20px;
				.text-container{
					max-width: 1100px;
					margin: auto;
					padding-left: 0;
					padding-right: 0;
				}
				.cell-row{
					margin-left: calc(var(--bs-gutter-x) * -0.5) !important;
					margin-right: calc(var(--bs-gutter-x) * -0.5) !important;
				}
			}
		}
	}
}