form.forminator-custom-form{
	label{

	}
	.forminator-description{
		display: none !important;
	}
	input,
	textarea{
		border: 1px solid $grey !important;
		border-radius: 5px !important;
		background-color: $white !important;
	}
	.forminator-button-submit{
		display: inline-block;
		-webkit-appearance: none;
		background-color: $blue !important;
		border: 2px solid $blue !important;
		color: $white !important;
		padding: .3em 1em !important;
		border-radius: 1000px !important;
		font-family: $impact !important;
		font-size: $font-size !important;
		font-weight: 400 !important;
		transition: .2s all linear !important;
		box-shadow: none !important;
		&:hover{
			background-color: $orange !important;
			border-color: $orange !important;
			color: $white !important;
			box-shadow: none !important;
		}
	}
	.forminator-button-upload{
		color: $white !important;
		background-color: $grey !important;
		border: 1px solid $grey !important;
		border-radius: 5px !important;
		box-shadow: none !important;
	}
	.forminator-button-delete{
		background-color: transparent !important;
	}
}