#search-result-filters,
#league-filters{
}
section#leagues-section{
    padding-top: 0;
    .league{
        position: relative;
        padding-top: 30px;
        background-image: url(../assets/img/energy-bg-lighter.svg);
        background-size: 100vw;
        background-position: top center;
        background-repeat: no-repeat;
        .row{
            margin-bottom: 20px;
        }
        /*
        .league{
            position: relative;
            z-index: 1;
            #league-container{
                ul.programs{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        margin: 0 0 40px;
                        padding: 0;
                        background-color: $light;
                        border-radius: 10px;
                        overflow: hidden;
                    }
                }
            }
        }*/
    }
}